<h1>Submit a query</h1>

<% unless @errors.blank? %>
	<ul>
		<% for error in @errors %>
			<li><p><%= h(error) %></p></li>
		<% end %>
	</ul>
<% end %>

<div id="stylized">
<%= form_tag :action=>'query' do %>

<%
years_list = Array.new
(1980..Time.now.year).each { |y|
	years_list<<y
}
years_list=years_list.reverse
 %>
	

	<div class="field">
	<label>Start date: </label><%= select_tag(:min_date, options_for_select(years_list, params[:min_date])) %>
	</div>

	<div class="field">
	<label>End date:</label><%= select_tag(:max_date, options_for_select(years_list, params[:max_date])) %>
	</div>

	<div class="field">
	<label>Query: <span class="small">with Pubmed syntax</label><%= text_field_tag(:terms, params[:terms]) %>
	</div>

	<div class="field">
	<%= submit_tag "Execute the query" %>
	</div>

<% end %>
</div>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<% unless @graph.nil? %>
		<%= @graph.html_safe %>

		<% csv_link="/stat/csv?min_date="+params[:min_date].to_s+"&max_date="+params[:max_date].to_s+"&terms="+URI.escape(params[:terms]).to_s %>

		<p><a href="<%= csv_link %>">Export in CSV</a></p>
<% end %>



